@import './variables';
@import './fonts';



header {
	padding-top: 24px;
	padding-bottom: 230px;
	background-image: linear-gradient(0deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%),url(/img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
nav {
	@extend %flex-beetween;
	align-items: center;
	min-height: 92px;
	margin-bottom: 166px;
}
.logo {
	text-decoration: none;
	font-size: 30px;
	font-family: $main-font;
	color: $main-color;
	font-weight: 700;
	line-height: 36px;
}
.menu {
	@extend %flex;
}
.nav-bar {
	margin: 0;
	padding: 0;
	list-style: none;
	@extend %flex;
	text-transform: uppercase;
	line-height: 1.2;
	li {
		width: 100px;
		cursor: pointer;
		a {
			position: relative;
			text-decoration: none;
			font-size: 14px;
			font-family: $main-font;
			color: $main-color;
			cursor: pointer;
			&::after {
				background-color: $hover-color;
				display: block;
				content: "";
				height: 3px;
				width: 0%;
				left: 50%;
				position: absolute;
				margin-top: 12px;
				transition: width 200ms linear;
				transform: translateX(-50%);
			}
			&:hover {
				color: $hover-color;
				&:after {
					width: 100%;
				}
			}
			&:focus {
				color: $hover-color;
			}
		}
	}
	button {
		border: none;
		background: transparent;
		cursor: pointer;
		padding: 0 6px;
		width: 36px;
		height: 16px;
		svg {
			display: block;
			fill: $main-color;
			width: 16px;
			height: 16px;
			&:hover {
				fill: $hover-color;
				transition: 200ms linear;
			}
		}
	}
}

a.nav-bar {
	li {
		a {
			&:focus {
				&:after {
					width: 100%;
				}
			}
		}
	}
}
.header__title {
	padding: 0;
	display: block;
	text-align: center;
	margin: 0 auto 110px;
	max-width: 860px;
	font-family: $main-font;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 150px;
	line-height: 0.94;
	color: $main-color;
}
.header__subtitle {
	text-transform: uppercase;
	display: block;
	font-family: $secondary-font;
	font-size: 72px;
	text-transform: none;
	font-weight: 400;
	margin-bottom: 34px;
}
.header__button {
	text-transform: uppercase;
	color: $main-color;
	font-family: $main-font;
	font-weight: 700;
	font-size: 14px;
	background: transparent;
	border: solid $main-color 3px;
	width: 160px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}
