@media (min-width:600px){
    
    .background{
        height: 720px;
    }
    .navbar{
        flex-direction: row-reverse;
        padding-top: 40px;
        margin-bottom: 150px;
    }
    .menu{
        margin-bottom:0;
    }
    .title{
        font-size: 52px;
        margin-bottom: 40px;
    }
    .description{
        font-size: 24px;
        margin-bottom: 40px;
    }
    .partners{
        padding-top: 76px;
        margin-bottom: 40px;
    }
    .partners-title{
        margin-bottom: 38px;
    }
    
    .partners-item{
        height: 248px;
        margin-bottom: 40px;
    }
    .btn-partner{
        height: 40px;
    }
}
@media (min-width:980px){
    .title{
        margin-bottom: 45px;
    }
    .description{
        margin-bottom: 40px;
    }
    .partners{
        padding-top: 70px;
        margin-bottom: 72px;
    }
}